*.class

# Package Files #
*.jar
*.war
*.ear
src/main/resources/_testdata.properties
/.project
/.settings
/reports
/target
/test-output
/.classpath
/sql.log
/application.log
.classpath
.project
*.log
*.apk
!src/main/resources/carinademoexample.apk
*.zip
!src/main/resources/carinademoexample.zip
.settings/*
target/*
test-output/*
reports/*
/.metadata/
.idea
*.iml
/target/
/bin/